<img src="assets/images/burger_pic.png" alt="burger">

<h1>Burgers!</h1>

<div class="row">
  <div class="column">
    <ul id="left">
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="column">
    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="burg">Enter a burger you'd like to eat:</label>
        <input type="text" id="burg" name="name">
      </div>

      <button id="submitBtn">Submit</button>
    </form>
  </div>

  <div class="column">
    <ul id="right">
      {{#each burgers}}
        {{#if devoured}}
          <li>
	          {{burger_name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>